<form class="ui-g ui-fluid" style="display: flex; flex-direction: column; align-items: center;" #bookingForm="ngForm">

    <div class="ui-g-12 ui-md-6">
        <p-autoComplete [(ngModel)]="item" [suggestions]="filtereditems" (completeMethod)="filterItem($event)" placeholder="Search doctor by name..." field="doctorName" name="item"
            [size]="30" [minLength]="1">

            <ng-template let-item pTemplate="item">
                <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                    <div style="display: flex; flex-direction: column;">
                        <div style="font-weight: 700; font-size: 1rem;">{{ item.doctorName }}</div>
                        <div>{{ item.degree.join(', ').toString() }}</div>
                        <div>{{ item.specilization.join(', ').toString() }}</div>
                        <div style="font-weight: 600; opacity: 0.5;">{{ item.orgName }}</div>
                    </div>
                </div>
            </ng-template>

        </p-autoComplete>
    </div>

    <div class="ui-g-12 ui-md-6" *ngIf="item && item.doctorId">
        <div style="display: flex; flex-direction: column; align-items: center; background-color: #FDBA15; padding: 1rem; border-radius: 3px;">
            <div style="font-weight: 700; font-size: 1rem;">{{ item?.doctorName }}</div>
            <div>{{ item?.degree?.join(', ').toString() }}</div>
            <div>{{ item?.specilization?.join(', ').toString() }}</div>
            <div style="font-weight: 600; opacity: 0.5;">{{ item?.orgName }}</div>
        </div>
    </div>

    <div class="ui-g-12 ui-md-6">
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [showOtherMonths]="false" placeholder="Select appointment date*" [style]="{'width':'100% !important'}"
            [inputStyle]="{'width':'100% !important'}" [disabledDays]="disabledDays" [disabledDates]="disabledDates" [minDate]="minDate" [maxDate]="maxDate"
            [(ngModel)]="selectedDate" (onSelect)="onDateSelect($event)" [readonlyInput]="true" [disabled]="!appointmentConfiguration" name="selectedDate" required>
        </p-calendar>
    </div>

    <div class="ui-g-12 ui-md-6">
        <p-dropdown [options]="selectedDaySchedules" [(ngModel)]="selectedSchedule" placeholder="Select a schedule*" name="selectedSchedule" required>
        </p-dropdown>
    </div>

    <div class="ui-g-12 ui-md-6">
        <input type="text" pInputText placeholder="Patient name*" [(ngModel)]="appointment.name" #name="ngModel" name="name" [pattern]="nameRegex" required />
    </div>

    <div class="ui-g-12 ui-md-6">
        <input type="text" pInputText placeholder="Phone number*" pKeyFilter="pint" [(ngModel)]="appointment.phoneNumber" #phoneNumber="ngModel" name="phonenumber"
            [pattern]="phoneRegex" required />
    </div>

    <div class="ui-g-12 ui-md-6">
        <p-calendar placeholder="Date of birth*" yearRange="1899:2999" [yearNavigator]="true" [maxDate]="maxBirthDate" [monthNavigator]="true" [dataType]="'string'"
            [dateFormat]="'dd/mm/yy'" [showIcon]="true" [readonlyInput]="true" [(ngModel)]="appointment.dateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel" required>
        </p-calendar>
    </div>

    <div class="ui-g-12 ui-md-6">
        <p-selectButton [options]="genders" [(ngModel)]="appointment.gender" name="gender"></p-selectButton>
    </div>

    <div class="ui-g-12 ui-md-6">
        <p-selectButton [options]="types" [(ngModel)]="appointment.type" name="type"></p-selectButton>
    </div>

    <div class="ui-g-12 ui-md-6">
        <p-dropdown [options]="bloodGroups" [(ngModel)]="appointment.bloodGroup" placeholder="Select a blood group" name="bloodGroup">
        </p-dropdown>
    </div>

    <div class="ui-g-12 ui-md-6">
        <p-checkbox label="Emergency" [(ngModel)]="appointment.emergency" binary="true" name="emergency"></p-checkbox>
    </div>

    <div class="ui-g-12 ui-md-6">
        <textarea pInputTextarea [(ngModel)]="appointment.patientComments" placeholder="Comments" name="patientComments"></textarea>
    </div>

    <div class="ui-g-12 ui-md-6">
        <p-button label="Book Appointment" style="width: 100%" (click)="bookAppointment()" [disabled]="bookingForm.invalid || !item || !item.doctorId || busyState"></p-button>
    </div>
</form>


<!-- Appointment Confirmation -->
<p-dialog header="Appointment Confirmation" [(visible)]="isDialogVisiable" [modal]="true" [draggable]="false" [resizable]="false" [style]="{width: '400px'}" [baseZIndex]="10000">
    
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6">
            <div class="font-bold">{{ bookedAppointment.name }}</div>
            <div>Type: <span class="font-bold">{{ bookedAppointment.type }}</span></div>
            <div>Serial No: <span class="font-bold">{{ bookedAppointment.serial }}</span></div>
            <div>Time: <span class="font-bold">{{ bookedAppointment.time }}</span></div>
            <div>Date: <span class="font-bold">{{ bookedAppointment.date }}</span></div>
        </div>

        <!-- Doctor info will be displayed here -->
        <div class="ui-g-12 ui-md-6">
            <div class="font-bold">{{ bookedAppointment.name }}</div>
            <div>Type: {{ bookedAppointment.type }}</div>
            <div>Serial No: {{ bookedAppointment.serial }}</div>
            <div>Time: {{ bookedAppointment.time }}</div>
            <div class="font-bold">{{ bookedAppointment.date }}</div>
        </div>
    </div>

    <p-footer>
        <button type="button" pButton icon="pi pi-times" (click)="isDialogVisiable=false" label="Close" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>